
{{#> emailLayout }}

<h1>
    Way Later Reviews
</h1>
<p>
    <a href="{{ urls.homepage }}">www.WayLaterReviews.com</a>
</p>
<p>
    Please confirm this is ur email. This will also confirm that you want to receive an email to remind you that you can review your product.
</p>
<p>
    {{ productName }}
</p>
<p>
    <a href="{{ urls.confirm }}">Confirm Review</a>
    <span style="display:none;">{{ urls.confirm }}</a>
</p>

<p>you requested to do a review, on {{ dateCreated }} which means you will be able to write your review on {{ reviewDate }}. If you confirm this </p>
<p>
    <a href="{{ urls.cancel }}">Cancel Review</a>
    <span style="display:none;">{{{urls.cancel}}}</a>
</p>


{{/emailLayout}}