
{{#> emailLayout }}

<h1>
    Way Later Reviews
</h1>
<h2>We are ready for your review</h2>
<p>
    <a href="{{ urls.homepage }}">www.WayLaterReviews.com</a>
</p>
<p>
    It's been a while, I hope u remember us! A year ago on {{ dateCreated }} you signed up to review a product and the time has come!
</p>
<p>
   Product: {{ productName }}
</p>
<p>
    <a href="{{ urls.review }}">Write your review</a>
</p>
<p>
    We won't send you any more emails about this product.
    <a href="{{ urls.review }}">Click here at any time to edit your review</a>.
</p>


{{/emailLayout}}